
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crime Reporter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <style>
    
    div.main{
      position: absolute;
      background-color: transparent
    }
  </style>


  <body style="background-image: url(https://images.unsplash.com/photo-1500673922987-e212871fec22?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OHwxMDYyMTU1fHxlbnwwfHx8fHw%3D);
  background-size: cover; color: white;">
<div class="main" style="border-color: white ; border-width: 10px; text-align: center; backdrop-filter: blur(5px); width: 50%; margin-left: 25%; margin-top: 8%;">
  <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;"> Thank you for sharing the details with us . We feel sorry for the unfortunate incident that happened with you or your loved ones.

    Our team and the concerned  authorities would soon revert back to you. If you have any further query you can reach out to us at <a style="color: crimson;" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCKCDBlhcCVtHmHKWHGmGvPgpctWBpWChvjQKpjVBHxXtPDMmhfZJzKFWgPztVfmxnKLhgbB" >silenttguardian@gmail.com.</a></h1>

    </div>
    
  </body>
</html>